<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CollapsedSidebarSectionIdentifiers</key>
	<array/>
	<key>ExpandedSidebarItemIdentifiers</key>
	<array>
		<string>A0B612C3-CAA6-4A64-B8F4-4309D51F2F1C/L0/020</string>
		<string>996C3CEF-D0A2-428F-9DD1-877AA454796D/L0/020</string>
		<string>BC857272-4C14-4BFB-AEAA-03F9C6885292/L0/020</string>
	</array>
</dict>
</plist>
