<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cloudVersion</key>
	<string>AB60BE64-345C-41CF-8A5D-71D778594278</string>
	<key>localVersionToken</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGnCwwRGRobIVUkbnVsbNINDg8Q
	ViRjbGFzc18QIk5TUGVyc2lzdGVudEhpc3RvcnlUb2tlbkRpY3Rpb25hcnmABoAC0xIT
	DRQWGFdOUy5rZXlzWk5TLm9iamVjdHOhFYADoReABIAFXxAkOEMwMDBCNzMtMzNBRi00
	NjcwLThFMUUtRjFDMzVDOUJEMTZCEQ0k0hwdHh9aJGNsYXNzbmFtZVgkY2xhc3Nlc1xO
	U0RpY3Rpb25hcnmiHiBYTlNPYmplY3TSHB0iI18QGV9OU1BlcnNpc3RlbnRIaXN0b3J5
	VG9rZW6jJCUgXxAZX05TUGVyc2lzdGVudEhpc3RvcnlUb2tlbl8QGE5TUGVyc2lzdGVu
	dEhpc3RvcnlUb2tlbgAIABEAGgAkACkAMgA3AEkATABRAFMAWwBhAGYAbQCSAJQAlgCd
	AKUAsACyALQAtgC4ALoA4QDkAOkA9AD9AQoBDQEWARsBNwE7AVcAAAAAAAACAQAAAAAA
	AAAmAAAAAAAAAAAAAAAAAAABcg==
	</data>
	<key>storeUUID</key>
	<string>8C000B73-33AF-4670-8E1E-F1C35C9BD16B</string>
</dict>
</plist>
